.agency-container {
  display: flex;
  flex-direction: column;
  padding: 46px 84px 47px 37px;

  @media (min-width: 768px) {
    padding: 46px 129px 47px 37px;
  }

  @media (min-width: 1024px) {
    padding: 129px 129px 147px 129px;
    gap: 80px;
    flex-direction: row;
  }

  @media (min-width: 1440px) {
    padding: 120px 129px 147px 183px;
    gap: 140px;
    flex-direction: row;
  }

  .text-container {
    @media (min-width: 1024px) {
      max-width: 378px;
    }
    @media (min-width: 1440px) {
      max-width: 588px;
    }

    .title {
      color: #19669f;
      font-family: 'Outfit';
      font-weight: 700;
      font-style: Bold;
      font-size: 18.12px;
      line-height: 100%;
      letter-spacing: 0%;
      margin-bottom: 18px;
    }
    .title-section > h2 {
      font-weight: 400;
      color: #1f1f1f;
      font-size: 50px;
      line-height: 97%;
      letter-spacing: 0%;
      text-transform: uppercase;
      margin-bottom: 12px;
    }
    .content {
      font-family: Outfit;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 35px;
      color: #0a0200;
    }
  }
}
