<section class="mission-vision-section">

    <div class="mission-block">
        <h2 class="title">MISSION</h2>
        <p class="body-text">
            Lorem ipsum dolor sit amet consectetur. In integer maecenas ultrices ipsum tellus eleifend sollicitudin
            pellentesque. Rutrum ullamcorper ut imperdiet nulla dui. Dignissim sit placerat aliquam eros mauris
            dignissim sapien. Et lorem dictum adipiscing nec. Blandit amet proin egestas eleifend semper.
            Semper tristique amet eget aliquet arcu accumsan sed nisi ut. Nunc ut sed
            sollicitudin et euismod. At tincidunt mauris aliquet ut. Hendrerit lorem lorem est viverra commodo.
            Vitae in sed porttitor laoreet at massa.
        </p>
    </div>

    <div class="vision-block">
        <h2 class="title">VISION</h2>
        <p class="body-text">
            Lorem ipsum dolor sit amet consectetur. In integer maecenas ultrices ipsum tellus eleifend sollicitudin
            pellentesque. Rutrum ullamcorper ut imperdiet nulla dui. Dignissim sit placerat aliquam eros mauris
            dignissim sapien. Et lorem dictum adipiscing nec. Blandit amet proin egestas eleifend semper.
            Semper tristique amet eget aliquet arcu accumsan sed nisi ut. Nunc ut sed sollicitudin et euismod. At
            tincidunt mauris aliquet ut. Hendrerit lorem lorem est viverra commodo. Vitae in sed porttitor laoreet at
            massa.
        </p>
    </div>

</section>