<section class="mission-vision-section">

    <div class="mission-block">
        <h2 class="title">MISSION</h2>
        <div class="body-text">
            Ristrutturare non è solo costruire, è realizzare il progetto di vita dei nostri clienti, in modo efficiente
            e trasparente.
            La nostra missione quotidiana è garantire che ogni ristrutturazione, dall'appartamento a Casalnuovo al
            complesso in provincia di Napoli, sia eseguita a regola d'arte, rispettando tre pilastri fondamentali:
            <strong>tempi, budget e zero stress</strong> per il cliente.<br> Gestiamo l'intero ciclo di lavoro, dalla
            progettazione
            alla consegna
            delle chiavi, con la massima professionalità e la trasparenza che mostriamo ogni giorno sui nostri
            <strong>canali
                social</strong>.
        </div>
    </div>

    <div class="vision-block">
        <h2 class="title">VISION</h2>
        <div class="body-text">
            Essere riconosciuti come l'azienda leader e il partner più affidabile nel settore delle ristrutturazioni
            residenziali a Napoli e provincia, sinonimo di qualità e innovazione digitale.<br>
            Aspiriamo a elevare lo standard del settore edile, utilizzando le migliori tecnologie e materiali, e
            rendendo l'esperienza di ristrutturazione accessibile, chiara e persino piacevole. Vogliamo che il nome
            <strong>De Luca Costruzioni </strong>sia la prima scelta per chi cerca un investimento duraturo e un
            risultato che
            superi ogni aspettativa.
        </div>
    </div>

</section>