@import '../fornitori/fornitori.scss';

.badge-primary {
  background-color: #dbeafe;
  color: #1e40af;
}

.badge-secondary {
  background-color: #f1f5f9;
  color: #475569;
}

.badge-warning {
  background-color: #fef3c7;
  color: #92400e;
}
