<section class="social-section">

    <div class="text-content">
        <h2 class="title">SEGUICI SU</h2>

        <div class="subtitle">
            Lorem ipsum dolor sit amet consectetur. Nisl rhoncus ipsum at nibh.
        </div>
        <div class="body-text">
            Lorem ipsum dolor sit amet consectetur. Nisl rhoncus ipsum at nibh. Tortor iaculis ac malesuada et. Nec
            commodo morbi sapien etiam.
        </div>
    </div>

    <div class="media-content">

        <img src="assets/images/follow_on_social.png" alt="Smartphone con profilo Instagram">


        <div class="social-tags tiktok">

            <a href="https://www.tiktok.com/@delucacostruzionisrl" target="_blank" class="tiktok-button">
                <div class="icon-wrapper tiktok">
                    <img class="tiktok-icon" src="assets/icons/tiktok_hover.svg" alt="TikTok Icon">
                </div>
                <span class="username">delucacostruzionisrl</span>
            </a>

        </div>

        <div class="social-tags instagram">

            <a href="https://www.tiktok.com/@delucacostruzionisrl" target="_blank" class="instagram-button">
                <div class="icon-wrapper instagram">
                    <img class="instagram-icon" src="assets/icons/instagram_hover.svg" alt="TikTok Icon">
                </div>
                <span class="username">delucacostruzionisrl</span>
            </a>
        </div>
    </div>
</section>