<section class="contact-info-section">

  <div class="details-block">

    <div class="image-container">
      <img src="assets/images/mock_contact.png" alt="Persona che lavora o progetta">
    </div>

    @if(currentPage() === 'free_estimate') {
    <div class="banner_container">
      <div class="banner_content">
        <div class="banner_text">
          <h2>I Nostri Servizi</h2>
          <p>Lorem ipsum dolor sit amet consectetur. In integer maecenas ultrices ipsum tellus eleifend sollicitudin
            pellentesque. Rutrum ullamcorper ut imperdiet nulla dui. Dignissim sit placerat aliquam eros mauris
            dignissim sapien. Et lorem dictum adipiscing nec. Blandit amet proin egestas eleifend semper.
            Semper tristique amet eget aliquet arcu accumsan sed nisi ut. Nunc ut sed sollicitudin et euismod. At
            tincidunt mauris aliquet ut.</p>
        </div>
        <div class="banner_button">
          <app-button [text]="'Servizi'" kind="ghost full" [navigateTo]="'services'"></app-button>
        </div>
      </div>
    </div>
    }

    @if(currentPage() === 'contact') {
    <div class="logo-container">
      <img src="assets/images/logo_transparent.svg" alt="De Luca Costruzioni S.R.L. Logo">
    </div>

    <p class="address">
      Via del Parco Magnolie, 61<br>
      80013 Casalnuovo di Napoli (NA)
    </p>

    <div class="contact-item phone-contact">
      <div class="icon-wrapper">
        <img src="assets/icons/phone.svg" alt="Phone Icon">
      </div>
      <div class="contact-text">
        <span>+39 331 969 14 15</span>
        <span>+39 351 159 29 74</span>
      </div>
    </div>

    <div class="contact-item email-contact">
      <div class="icon-wrapper">
        <img src="assets/icons/email.svg" alt="Email Icon">
      </div>
      <div class="contact-text">
        <span>delucacostruzioni2019@gmail.com</span>
      </div>
    </div>
    }

  </div>

</section>