<div class="container">
    <div class="image-container">
        <div class="img-1">
            <img src="assets/images/team/team_image.jpeg" alt="Team Photo" />
        </div>
        <div class="img-2">
            <img src="assets/images/lavori/carlo_de_marco.jpeg" alt="Office Photo" />
        </div>
    </div>
    <div class="text-container">
        <div class="title">
            CHI SIAMO
        </div>
        <div class="title-section">
            <h2>LA NOSTRA STORIA</h2>
        </div>
        <hr class="separator">
        <div class="content">
            Da oltre vent’anni, De Luca Costruzioni è un punto di riferimento nel settore delle ristrutturazioni e
            costruzioni a Napoli e provincia. Nata come impresa familiare, l’azienda è cresciuta mantenendo intatti i
            valori che l’hanno resa affidabile: professionalità, trasparenza e passione per il costruire.

            Oggi offriamo un servizio completo, dal rilievo iniziale alla consegna chiavi in mano, seguendo ogni fase
            con precisione artigianale e tecnologie moderne.
        </div>
        <div class="button">
            <app-button [text]="'Di più sulla nostra azienda'" kind="tertiary" [navigateTo]="'agency'"></app-button>
        </div>
    </div>
</div>