.container {
  padding: 47px 37px;
  .image-container {
    display: flex;
    gap: 10px;
    margin-bottom: 47px;
    .img-1,
    .img-2 {
      width: calc(100% - 37px);
      height: 295px;
      img {
        width: 100%;
        height: 295px;
        object-fit: cover;
      }
    }
    .img-2 {
      margin-top: 30px;
    }
  }
  .text-container {
    .title {
      color: #19669f;
      font-family: 'Outfit';
      font-weight: 700;
      font-style: Bold;
      font-size: 18.12px;
      line-height: 100%;
      letter-spacing: 0%;
      margin-bottom: 18px;
    }
    .title-section > h2 {
      font-weight: 400;
      color: #1f1f1f;
      font-size: 50px;
      line-height: 97%;
      letter-spacing: 0%;
      text-transform: uppercase;
    }
    .separator {
      width: calc(100% - 74px);
      height: 3px;
      background-color: #19669f;
      margin: 20px 0;
    }
    .content {
      font-family: Outfit;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 25px;
    }
  }
}
