.container {
  display: flex;
  gap: 47px;
  flex-direction: column;
  padding: 47px 37px;

  @media (min-width: 1024px) {
    padding: 137px 86px 131px 86px;
    gap: 80px;
    flex-direction: row;
  }

  @media (min-width: 1440px) {
    padding: 137px 122px 211px 182px;
    gap: 80px;
    flex-direction: row;
  }

  .image-container {
    display: flex;
    gap: 10px;

    @media (min-width: 1024px) {
      margin-bottom: 47px;
    }

    .img-1,
    .img-2 {
      width: calc(100% - 37px);
      height: 295px;
      img {
        width: 100%;
        height: 295px;

        @media (min-width: 1024px) {
          height: 338px;
        }

        @media (min-width: 1440px) {
          height: 425px;
        }

        object-fit: cover;
      }
    }
    .img-2 {
      margin-top: 30px;
    }
  }
  .text-container {
    @media (min-width: 1024px) {
      max-width: 378px;
    }

    @media (min-width: 1440px) {
      max-width: 528px;
    }

    .title {
      color: #19669f;
      font-family: 'Outfit';
      font-weight: 700;
      font-style: Bold;
      font-size: 18.12px;
      line-height: 100%;
      letter-spacing: 0%;
      margin-bottom: 18px;
    }
    .title-section > h2 {
      font-weight: 400;
      color: #1f1f1f;
      font-size: 50px;
      line-height: 97%;
      letter-spacing: 0%;
      text-transform: uppercase;
    }
    .separator {
      width: calc(100% - 74px);
      height: 3px;
      background-color: #19669f;
      margin: 20px 0;
    }
    .content {
      font-family: Outfit;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 25px;
    }
  }
}
