.container-section {
  padding: 46px 84px 0px 37px;
  margin-bottom: 46px;
  .image {
    position: relative;
  }
  .image > img {
    width: 100%;
    height: 405px;
    object-fit: cover;
  }
  .text-content {
    position: absolute;
    bottom: 0;
    left: calc((100% - 37px) / 2);;
    background: #19669f;
    color: #ffffff;
    padding: 29px;
    width: 223px;
    height: 142px;
    font-family: Bebas Neue;
    font-weight: 400;
    font-style: Regular;
    font-size: 31.42px;
    line-height: 98%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
}
