.container-section {
  margin-bottom: 46px;
  .image {
    position: relative;
  }
  .image > img {
    width: 100%;

    height: 405px;

    @media (min-width: 768px) {
      height: 457px;
    }

    @media (min-width: 1024px) {
      height: 457px;
    }

    @media (min-width: 1440px) {
      height: 457px;
    }

    object-fit: cover;
  }
  .text-content {
    position: absolute;
    bottom: 0;
    right: -10%;

    @media screen and (max-width: 768px) {
      right: -30px;
    }

    background: #19669f;
    color: #ffffff;
    padding: 29px;
    width: 223px;
    height: 142px;
    font-family: Bebas Neue;
    font-weight: 400;
    font-style: Regular;
    font-size: 31.42px;
    line-height: 98%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
}
