$text-color: #333;
$primary-color: #007bff;

.services-gallery-section {
  background-color: white;
  padding: 40px 55px;
  font-family: 'Outfit', sans-serif;
}

/* --- Intestazione --- */
.header-text {
  max-width: 800px;
  margin: 0 auto 50px auto;

  h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.2em;
    color: $text-color;
    margin-bottom: 10px;
    font-weight: 400;
  }

  .subtitle {
    font-size: 1rem;
    color: #0a0200;
    font-weight: 300;
  }
}

.services_list {
  .services_item {
    overflow: hidden;
    font-weight: 300;

    .img-container {
      position: relative;

      img {
        width: 100%;
        height: 328px;
        object-fit: cover; /* Assicura che l'immagine copra l'area senza deformarsi */
        display: block;
        margin-bottom: 20px;
      }

      .info-overlay {
        padding: 13px;
        width: 100%;
        height: 44px;
        font-weight: 400;
        display: flex;
        align-items: center;
        background-color: #1f1f1f;
        color: white;
        position: absolute;
        bottom: 0;
      }
    }
  }
}
