<section class="services-gallery-section">

    <div class="header-text">
        <h2>I NOSTRI SERVIZI AGGIUNTIVI</h2>
        <p class="subtitle">Lorem ipsum dolor sit amet consectetur. In integer.</p>
    </div>

    <div class="services_list">
        <div class="services_item">
            <div class="img-container">
                <img src="assets/images/lavori/mock.png" alt="Nome Servizio 1">

                <div class="info-overlay">
                    <h3>NOME SERVIZIO</h3>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur. Ullamcorper at nibh adipiscing sed velit eu at vulputate.</p>
        </div>

        <div class="services_item">
            <div class="img-container">
                <img src="assets/images/lavori/mock.png" alt="Nome Servizio 1">

                <div class="info-overlay">
                    <h3>NOME SERVIZIO</h3>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur. Ullamcorper at nibh adipiscing sed velit eu at vulputate.</p>
        </div>

        <div class="services_item">
            <div class="img-container">
                <img src="assets/images/lavori/mock.png" alt="Nome Servizio 1">

                <div class="info-overlay">
                    <h3>NOME SERVIZIO</h3>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur. Ullamcorper at nibh adipiscing sed velit eu at vulputate.</p>
        </div>
    </div>

</section>