<section class="user-form-section">
  
    <div class="form-wrapper">
      
      <div class="header-text">
        <h2>CERCHI INFORMAZIONI? LOREM IPSUM DOLOR SIT AMET CONSECTETUR.</h2>
        <p>Lorem ipsum dolor sit amet consectetur. Mauris purus netus nibh facilisis sit. Fermentum nunc aliquam adipiscing vitae urna vel. Nullam malesuada fringilla sed mi.</p>
      </div>
  
      <form class="user-form">
        
        <input type="text" placeholder="Nome*" required>
        <input type="text" placeholder="Cognome*" required>
        <input type="tel" placeholder="Telefono*" required>
        <input type="text" placeholder="Indirizzo">
        <input type="email" placeholder="E-mail*" required>
        <input type="text" placeholder="Tipologia di servizio">
  
        <textarea placeholder="Messaggio"></textarea>
  
        <div class="privacy-checkbox">
          <input type="checkbox" id="privacy" required>
          <label for="privacy">
            Dichiaro di aver letto, compreso e di accettare pienamente l'Informativa sulla Privacy e autorizzo il trattamento dei miei dati personali, come indicato nell'Informativa.*
          </label>
        </div>
  
        <button type="submit" class="submit-button">Invia richiesta</button>
        
      </form>
    </div>
  </section>