<section class="supplier-form-section">
  
    <div class="form-wrapper">
      
      <div class="header-text">
        <h2>SEI UN FORNITORE O VORRESTI COLLABORARE CON NOI ?</h2>
        <p>
          Compila il form sottostante per inviarci la tua richiesta di collaborazione. Saremo lieti di valutare la tua
          proposta e di metterci in contatto con te al più presto.
        </p>
      </div>
  
      <form class="supplier-form">
        
        <input type="text" placeholder="Nome*" required>
        <input type="text" placeholder="Cognome*" required>
        <input type="tel" placeholder="Telefono*" required>
        <input type="text" placeholder="Azienda*" required>
        <input type="text" placeholder="Ruolo">
        <input type="text" placeholder="Indirizzo">
        <input type="email" placeholder="E-mail*" required>
        <input type="text" placeholder="Pec*">
        <input type="text" placeholder="Tipologia di servizio">
  
        <label style="grid-column: 1 / 3;" for="documents" class="document-label">Documenti</label>
        <input type="file" id="documents" class="file-input">
        <div class="file-placeholder">Carica Documenti</div>
  
        <textarea placeholder="Note"></textarea>
  
        <div class="privacy-checkbox">
          <input type="checkbox" id="privacy" required>
          <label for="privacy">
            Dichiaro di aver letto, compreso e di accettare pienamente l'Informativa sulla Privacy e autorizzo il trattamento dei miei dati personali, come indicato nell'Informativa.*
          </label>
        </div>
  
        <button type="submit" class="submit-button">Invia richiesta</button>
        
      </form>
    </div>
  </section>