.hero_section {
  position: relative;
  width: 100%;
  height: 57.5rem;
  overflow: hidden;
  .hero_image {
    img {
      width: 100%;
      height: 57.5rem;
      object-fit: cover;
    }
  }
  .hero_text {
    position: absolute;
    bottom: 15.4375rem;
    left: 10%;
    width: 56.4375rem;
    color: white;
    h1 {
      font-size: 7.5rem;
      font-weight: 400;
      line-height: 97%;
    }
    .hero_subtitle{
      font-size: 1.5625rem;
      margin-bottom: 2rem;
    }
    .hero_buttons {
      display: flex;
      gap: 2rem;
    }
  }
}
