.home-hero_section {
  position: relative;
  width: 100%;
  overflow: hidden;
  .hero_image {
    background: #1f1f1f;
    img {
      width: 100%;
      height: 700px;
      object-fit: cover;
      filter: brightness(0.7);
    }
  }
  .hero_text {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    padding: 0 24px;

    @media (min-width: 768px) {
      padding: 0px 37px;
    }

    @media (min-width: 1024px) {
      padding: 60px 61px;
    }

    @media (min-width: 1441px) {
      padding: 60px 61px;
    }

    color: white;
    h1 {
      font-size: 48.64px;
      font-weight: 400;
      line-height: 97%;
      margin-bottom: 1.5rem;
    }
    .hero_subtitle {
      font-size: 1.25em;
      //margin-bottom: 2rem;
    }
    .buttons-container {
      .hero_buttons {
        display: flex;
        gap: 1rem;
      }
      @media (max-width: 439px) {
        .hero_buttons {
          gap: 0.8rem;
        }
      }
    }
  }
}
