.banner_container {
  height: auto;
  width: 100%;
  background: #1f1f1f;
  padding: 55px 120px 55px 50px;
  color: white;

  .banner_content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width:1024px) {
      width: 100%;
    }

    h2 {
      font-family: Bebas Neue;
      font-weight: 400;
      font-style: Regular;
      font-size: 50px;
      line-height: 97%;
      letter-spacing: 0%;
      text-transform: uppercase;
    }
    p {
      font-family: Outfit;
      font-weight: 300;
      font-size: 1rem;
      line-height: 26px;
      letter-spacing: 0%;
    }

    .banner_text {
      flex-basis: 70%;
    }
    .banner_cta {
      flex-basis: 30%;
    }
  }
}

@media (max-width: 920px) {
  .banner_container {
    padding: 30px 50px 60px 30px;

    .banner_content {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;

      .banner_text,
      .banner_cta {
        flex-basis: auto;
      }

      h2 {
        font-size: 40px;
      }
    }
  }
}
