<div class="banner_container">
    <div class="banner_content">
        <div class="banner_text">
            <h2>Ristrutturazioni chiavi in mano</h2>
            <p>Affidati a De Luca Costruzioni per una ristrutturazione completa e senza pensieri. Gestiamo ogni aspetto
                del
                progetto, dal sopralluogo alla consegna, coordinando tutte le maestranze e rispettando tempi e budget
                concordati.</p>
        </div>
        <div class="banner_button">
            <app-button [text]="'Scopri di più'" kind="secondary" [navigateTo]="'free_estimate'"></app-button>
        </div>
    </div>
</div>