.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 3.5rem;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s, color 0.3s;
  background-color: transparent;
  color: white;
  padding: 0 6rem;
  transition: 0.7s ease-in-out;

  &.scrolled {
    background-color: #1F1F1F;
    color: #0090FF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    top: 0;
    height: 6rem;
    transition: 0.7s ease-in-out;
  }

  .navbar-logo {
    display: flex;
    align-items: center;
    img {
      height: 4rem;
    }
  }

  .navbar-items {
    display: flex;
    align-items: center;
    .navbar-list {
      display: flex;
      justify-content: space-around;
      list-style: none;
      margin: 0;
      padding: 1rem 2rem;
      gap: 3rem;

      li a {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
        transition: color 0.3s;

        &:hover {
          color: #007bff;
        }
      }
    }
  }
}
