<section class="free-estimate-form-section">

  <div class="form-wrapper">

    <div class="header-text">
      <h2>Hai bisogno di un preventivo gratuito?</h2>
      <p>Compila il form sottostante fornendo tutte le informazioni sull'appartamento che vuoi ristrutturare , un nostro
        incaricato ti contatterà al più presto per fissare un sopralluogo gratuito e senza impegno.
      </p>
    </div>

    <form class="free-estimate-form">

      <input type="text" placeholder="Nome*" required>
      <input type="text" placeholder="Cognome*" required>
      <input type="tel" placeholder="Telefono*" required>
      <input type="text" placeholder="Indirizzo*" required>
      <input type="email" placeholder="Mq" required>
      <input type="email" placeholder="Piano edificio" required>
      <input type="text" placeholder="Tipologia di servizio">
      <input type="text" placeholder="Budget">
      <input type="email" placeholder="E-mail*" required>

      <label for="documents" class="document-label">Documenti</label>
      <input type="file" id="documents" class="file-input">
      <div class="file-placeholder">Carica Documenti</div>

      <textarea placeholder="Note"></textarea>

      <div class="privacy-checkbox">
        <input type="checkbox" id="privacy" required>
        <label for="privacy">
          Dichiaro di aver letto, compreso e di accettare pienamente l'Informativa sulla Privacy e autorizzo il
          trattamento dei miei dati personali, come indicato nell'Informativa.*
        </label>
      </div>

      <button type="submit" class="submit-button">Invia richiesta</button>

    </form>
  </div>
</section>