@import '@fontsource/bebas-neue';
@import '@fontsource/bebas-neue/400.css';
@import '@fontsource/outfit/300.css'; // Light
@import '@fontsource/outfit/400.css'; // Light
@import '@fontsource/outfit/500.css'; // Medium
@import '@fontsource/outfit/700.css'; // Bold
body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-weight: 400;
  box-sizing: border-box; // Assicura che padding e bordi siano inclusi nelle dimensioni degli elementi
}

main {
  flex: 1; // Assicura che il contenuto centrale occupi lo spazio disponibile
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue', sans-serif;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit; // Applica il box-sizing a tutti gli elementi
}

.container {
  /* Limite la larghezza del contenuto */
  max-width: 1440px;

  /* Centra il contenitore orizzontalmente */
  margin: 0 auto;
}
