<section class="workflow-section">

    <div class="header-text">
        <div class="subtitle">COME LAVORIAMO</div>
        <h2>UN PROCESSO CHIARO E TRASPARENTE PER IL TUO PROGETTO.</h2>
    </div>

    <div class="steps-container">

        <div class="workflow-step">
            <div class="icon-wrapper">
                <img src="assets/icons/progettazione.svg" alt="Step 1 Icon">
            </div>
            <h3>STEP 1</h3>
            <p>Dopo il sopralluogo , stileremo un preventivo in base alle esigenze del cliente.</p>
        </div>

        <div class="separator"></div>

        <div class="workflow-step">
            <div class="icon-wrapper">
                <img src="assets/icons/costruzione.svg" alt="Step 2 Icon">
            </div>
            <h3>STEP 2</h3>
            <p>Inizieremo i lavori non appena non appena ricevuti i permessi necessari.</p>
        </div>

        <div class="separator"></div>

        <div class="workflow-step">
            <div class="icon-wrapper">
                <img src="assets/icons/rifinitura.svg" alt="Step 3 Icon">
            </div>
            <h3>STEP 3</h3>
            <p>Coordiniamo tutte le maestranze specializzate, monitorando ogni fase del cantiere.</p>
        </div>

        <div class="separator"></div>

        <div class="workflow-step">
            <div class="icon-wrapper">
                <img src="assets/icons/pittura.svg" alt="Step 4 Icon">
            </div>
            <h3>STEP 4</h3>
            <p>Curiamo le rifiniture finali e consegniamo il progetto completo, rispettando i tempi concordati.</p>
        </div>

    </div>
</section>